@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica;
  text-decoration: none;
}
body{
  background: rgb(234,234,234);
}
.navbar-default{
  background-color: transparent;
  transition:500ms ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 5.856515373352855vw;
  padding: 0 1.4641288433382138vw;
  position: fixed;
  width: 100%;
  z-index: 999;
  animation: drop 1.2s 1;
}

.navbar-default.scrolled{
  background-color: rgba(255,255,255,1);
  color: black;
}

.navbar-default .logo{
  display: flex;
  margin: auto;
}

.logo a.active {
  padding: 0 0.43923865300146414vw;
  font-family: "Lucida Console";
  text-decoration: none;
}

@keyframes drop {
  0%{
    margin-top:-95px;
  }
  100%{
    margin-top:0;
  }
}

.logo a.active span{
  display: flex;
  margin: auto;
  text-decoration: none;
}

.navbar-default .logo a.active .header1nav{
  transition:500ms ease;
  margin: auto;
  font-family: "Lucida Console";
  background-color: rgb(255,252,142);
  color: white;
  border:  0.21961932650073207vw solid rgb(255,255,255);
  border-radius: 0.5856515373352855vw;
  text-shadow:  -0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
  0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
  -0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),
  0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),  
  -0.14641288433382138vw 0 0 rgb(180,180,180),
  0.14641288433382138vw 0 0 rgb(180,180,180),
  0 0.14641288433382138vw 0 rgb(180,180,180),
  0 -0.14641288433382138vw 0 rgb(180,180,180);
  font-size: 1.7569546120058566vw;
  padding: 0.21961932650073207vw 1.2445095168374818vw 0.7320644216691069vw;
  box-sizing: border-box;
  width: 3.953147877013177vw;
  height: 3.6603221083455346vw;
}

.navbar-default.scrolled .logo a.active .header1nav{
  margin: auto;
  font-family: "Lucida Console";
  background-color: rgb(255,252,142);
  color: white;
  border:  0.21961932650073207vw solid rgb(210,210,210);
  border-radius: 0.5856515373352855vw;
  text-shadow:  -0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
  0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
  -0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),
  0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),  
  -0.14641288433382138vw 0 0 rgb(180,180,180),
  0.14641288433382138vw 0 0 rgb(180,180,180),
  0 0.14641288433382138vw 0 rgb(180,180,180),
  0 -0.14641288433382138vw 0 rgb(180,180,180);
  font-size: 1.7569546120058566vw;
  padding: 0.21961932650073207vw 1.2445095168374818vw 0.7320644216691069vw;
  box-sizing: border-box;
  width: 3.953147877013177vw;
  height: 3.6603221083455346vw;
}

.navbar-default .logo a.active .header2nav{
  margin: auto;
  font-family: "Lucida Console";
  color: rgb(250,248,177);
  text-shadow:  -0.05856515373352855vw -0.05856515373352855vw 0 rgb(255,186,115),
        0.05856515373352855vw -0.05856515373352855vw 0 rgb(255,186,115),
        -0.05856515373352855vw 0.05856515373352855vw 0 rgb(255,186,115),
        0.05856515373352855vw 0.05856515373352855vw 0 rgb(255,186,115),  
        -0.1171303074670571vw 0 0 rgb(255,186,115),
        0.1171303074670571vw 0 0 rgb(255,186,115),
        0 0.1171303074670571vw 0 rgb(255,186,115),
        0 -0.1171303074670571vw 0 rgb(255,186,115);
  font-size: 2.049780380673499vw;
  padding: 0.36603221083455345vw 1.0980966325036603vw 0.36603221083455345vw;
}

.navbar-default .logo a.active .header3nav{
  transition:500ms ease;
  display: inline-block;
  margin: auto;
  color: rgb(180,180,180);
  font-family: "Lucida Console";
  text-shadow:  -0.07320644216691069vw -0.07320644216691069vw 0 white,
        0.07320644216691069vw -0.07320644216691069vw 0 white,
        -0.07320644216691069vw 0.07320644216691069vw 0 white,
        0.07320644216691069vw 0.07320644216691069vw 0 white,  
        -0.14641288433382138vw 0 0 white,
        0.14641288433382138vw 0 0 white,
        0 0.14641288433382138vw 0 white,
        0 -0.14641288433382138vw 0 white;
  font-size: 1.9033674963396778vw;
  padding: 0.36603221083455345vw 0 0.36603221083455345vw;
}

.navbar-default.scrolled .logo a.active .header3nav{
  display: inline-block;
  margin: auto;
  color: white;
  font-family: "Lucida Console";
  text-shadow:  -0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
        0.07320644216691069vw -0.07320644216691069vw 0 rgb(180,180,180),
        -0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),
        0.07320644216691069vw 0.07320644216691069vw 0 rgb(180,180,180),  
        -0.14641288433382138vw 0 0 rgb(180,180,180),
        0.14641288433382138vw 0 0 rgb(180,180,180),
        0 0.14641288433382138vw 0 rgb(180,180,180),
        0 -0.14641288433382138vw 0 rgb(180,180,180);
  font-size: 1.9033674963396778vw;
  padding: 0.36603221083455345vw 0 0.36603221083455345vw;
}

.navbar-default .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 2.9282576866764276vw;
}
.navbar-default .nav-items li{
  list-style: none;
  padding: 0 1.0980966325036603vw;
}
.navbar-default .nav-items li a{
  transition:500ms ease;
  font-family: 'Poppins', monospace;
  color: white;
  font-size: 1.24vw;
  font-weight: 500;
  text-decoration: none;
}

.navbar-default.scrolled .nav-items li a{
  color: black;
}

.navbar-default .nav-items li a:hover{
  color: rgb(255,252,142);
}

.navbar-default.scrolled .nav-items li a:hover{
  color: rgb(160,160,160);
}

.navbar-default form{
  transition:500ms ease;
  display: flex;
  height: 2.8vw;
  padding: 0.12vw;
  background-color: rgba(255,255,255,0.9);
  min-width: 18%!important;
  border-radius: 0.5856515373352855vw ;
  border: 0.25vw solid rgba(255,234,41,.9);
}
.navbar-default form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 0.7320644216691069vw;
  color: black;
  font-size: 1.1vw;
  border: none;
  font-weight: 500;
  background: none;
}
.navbar-default form button{
  padding: 0 1.0980966325036603vw;
  color: #ff94ad;
  font-size: 1.2445095168374818vw;
  background: transparent;
  border: none;
  border-radius: 0.14641288433382138vw;
  cursor: pointer;
}

.navbar-default.scrolled form{;
  display: flex;
  height: 2.8vw;
  padding: 0.12vw;
  background-color: rgba(255,255,255,0.9);
  min-width: 18%!important;
  border-radius: 0.5856515373352855vw ; 
  border: 0.25vw solid rgba(200,200,200,.9)
}

.navbar-default.scrolled form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 0.7320644216691069vw;
  color: black;
  font-size: 1.1vw;
  border: none;
  font-weight: 500;
  background: none;
}
.navbar-default.scrolled form button{
  padding: 0 1.0980966325036603vw;
  color: #ff94ad;
  font-size: 1.2445095168374818vw;
  background: transparent;
  border: none;
  border-radius: 0.14641288433382138vw;
  cursor: pointer;
}

.navbar-default form button:hover{
  color: #ff7192;
}
.navbar-default .menu-icon,
.navbar-default .cancel-icon,
.navbar-default .search-icon{
  width: 2.9282576866764276vw;
  text-align: center;
  margin: 0 3.6603221083455346vw;
  font-size:  1.3177159590043923vw;
  color: #fff;
  cursor: pointer;
  display: none;
}
.navbar-default .menu-icon span,
.navbar-default .cancel-icon,
.navbar-default .search-icon{
  display: none;
}

input:required {
    border-color: #ccc !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.height-100vh, .itemsRowContainer {
  position: relative;
}

.center-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  width: 100%;
  object-fit:cover;
}

.background-image-opacitor {
  width: 100%;
  opacity: 0.6;
  object-fit:cover;
  position: absolute;
}

.imageCaption{
  display: flex;
}

.text {
  display: flex;
  position: absolute;
  flex-direction: column;
  color: white;
  width: 60%;
  height:60%;
  box-sizing: border-box;
  bottom: 0;
}

.text span{
  display: block;
  text-align: center;
}

.text .header1{
  font-family: "Lucida Console";
  font-weight: bold;
  /* font-size: 55px; */
  font-size: 4.026354319180088vw;
}

.text .header2{
  font-size: 1.171303074670571vw;
  margin : -0.8784773060029283vw 0 0.8784773060029283vw;
  padding-bottom: 0.7320644216691069vw;
}

.text form{
  display: flex;
  height: 2.9282576866764276vw;
  padding: 0.14641288433382138vw;
  background: transparent;
  min-width: 18%!important;
  border-radius: 0.5856515373352855vw;
  border: 0.21961932650073207vw solid rgba(255,252,142,0.9);
}
.text form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 0.7320644216691069vw;
  font-size: 1.2445095168374818vw;
  border: none;
  font-weight: 500;
  background: none;
  color: white;
}
.text form button{
  padding: 0 1.0980966325036603vw;
  color: white;
  font-size: 1.2445095168374818vw;
  background: transparent;
  border: none;
  border-radius: 0.14641288433382138vw;
  cursor: pointer;
}
.text form button:hover{
  color: #ff7192;
}

.caption2{
  position: absolute;
  font-size: 1.4641288433382138vw;
  text-align: center;
  font-family: "Lucida Console";
  background: transparent;  
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.learnOption{
  font-family: verdana, arial, helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0.7320644216691069vw; 
  animation: animationOpacity 3s 1;
}

.learnOption a{
  transition: 300ms ease;  
  color: rgb(255,252,142);
  font-size: 1.3177159590043923vw;
  padding: 0 1.19vw;
  border-bottom: 0.1vw solid currentColor;
}

@keyframes animationOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.learnOption a:hover{
  border: none;
  text-decoration: none;
  color: white;
  border-bottom: 0.1vw solid transparent;
}

.chooseLangColumn{
  display: flex;
  flex-direction: column;
  margin: 44px 48px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.langHeader{
  display: flex;
  margin: 44px 16px 0;
  justify-content: center;
  font-size: 46px;
}
.garisLang{
  height: 5px;
  background-color: rgb(255,252,142);
  margin-bottom: 34px;
  width: 200px;
  border-radius: 50px;
}

.chooseLangRow{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-between;
  overflow: hidden;-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.itemsRow1, .itemsRow2, .background-image-opacitor2{
  width: 370px;
  height: 212px;
  transition: 400ms ease;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.itemsRowContainer{
  position: relative;
  overflow: hidden;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 3px solid rgba(255,252,142,0.5);
  border-radius: 10px;
}

.itemsRow1:hover, .itemsRow2:hover{
  transform: scale(1.02);
}

.chooseLangRow .background-image{
  border-radius: 6px;
}

.background-image-opacitor2 {
  display: flex;
  position: absolute;
  width: 100%;
  opacity: 0.64;
  object-fit:cover;
  z-index: 20;
}


.itemsRowCaption{ 
  font-family: 'IBM Plex Sans', sans-serif; 
  margin: auto;
  font-size: 1.9033674963396778vw;
  letter-spacing: 2px;
  color: white;
  animation: textGabunger 3s 1;
  animation-timing-function: ease;
}

.itemsRowText {
  display: flex;
  position: absolute;
  flex-direction: column;
  color: white;
  width: 60%;
  height:60%;
  box-sizing: border-box;
  z-index: 21;
  margin: auto;
}

.imagePort{
  display: flex;
  justify-content: space-around;
  margin: 40px 0 50px;
}

.imagePort img{
  padding: 20px;
  border-radius: 1px;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 230px;

  background-color: rgb(255,252,142);
    padding: 20px;
}

.section1{
  padding: 10px;
}
.section2{
  margin:auto;
}
.section3{
  margin:auto;
  margin-top: -15px;
}

.profil{
  margin: auto;
}

.background-image3 {
  border-radius: 100px;
  border: 4px solid rgb(230,230,230);
  width: 8%;
  object-fit:cover;
}

.containerC{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background: rgb(40,40,40);
}
.copyright{
  margin:auto;
  justify-content: center;
color: rgb(160,160,160);
  padding-bottom: 40px;

  background-color: (180,180,180)
}

.contact{
  margin:auto;
  justify-content: center;
  padding-top: 30px;
  font-size: 28px;
  letter-spacing: 20px;
}

.contact a{

  color: rgb(160,160,160);
}

.contact a:hover{

  color: rgb(255,252,142);
}

@keyframes textGabunger {
  0%{
    letter-spacing: 10px;
  }
  100%{
    letter-spacing: 2px;
  }
}

@media (max-width: 1140px){
  .navbar-default{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-default .logo{
    text-align: center;
  }
  .navbar-default .nav-items{
    position: fixed;
    z-index: 99;
    top: 5.856515373352855vw;
    width: 100%;
    left: -100%;
    height: 30%;
    padding: 0.7320644216691069vw;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 0.21961932650073207vw solid #ff94ad;;
    display: inline-block;
    transition: left 0.3s ease;
  }
  .navbar-default .nav-items.active{
    left: 0px;
  }
  .navbar-default .nav-items li{
    margin: 1.4641288433382138vw 0;
  }
  .navbar-default .nav-items li a{
    font-size: 1.4641288433382138vw;
    color: black;
    font-weight: bold;
  }
  .navbar-default form{

    position: absolute;
    top: 5.856515373352855vw;
    right: 3.6603221083455346vw;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .navbar-default form.active{
    top: 6.954612005856515vw;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar-default form:before{
    position: absolute;
    content: "";
    top: -0.9vw;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border:  0.7320644216691069vw solid transparent;
    border-bottom-color: rgba(180,180,180,0.8);
    margin: -1.4641288433382138vw 0 0;
  }
  .navbar-default form:after{
    position: absolute;
    content: '';
    height: 4.392386530014641vw;
    padding: 0.14641288433382138vw;
    background: rgba(180,180,180,0.8);
    border-radius: 0.5856515373352855vw;
    min-width: calc(100% + 1.4641288433382138vw);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-default .menu-icon{ 
    font-size: 1.7569546120058566vw;
    display: block;
    margin: 0 1.4641288433382138vw;
  }

  .navbar-default.scrolled .menu-icon{ 
    font-size: 1.7569546120058566vw;
    display: block;
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }
      
  .navbar-default .search-icon{
    font-size: 1.7569546120058566vw;
    display: block; 
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }

  .navbar-default .menu-icon span{
    font-size: 1.7569546120058566vw;
    display: block; 
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }

  .navbar-default.scrolled .menu-icon span{
    font-size: 1.7569546120058566vw;
    display: block; 
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }

  .navbar-default .menu-icon span.hide,
  .navbar-default .search-icon.hide{
    font-size: 1.7569546120058566vw;
    display: none;
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }
  .navbar-default .cancel-icon.show{
    font-size: 1.7569546120058566vw;
    display: block;
    color: #ff94ad;
    margin: 0 1.4641288433382138vw;
  }
}
@media (max-width: 980px){
.itemsRow1, .itemsRow2, .background-image-opacitor2{
  width: 300px;
  height: 180px;
  transition: 400ms ease;
  margin: 16px;
  border-radius: 6px;
  overflow: hidden;-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}der-radius: 10px;
}
  .navbar-default .nav-items{
    height: 25%;
  }

  .navbar-default .menu-icon,
  .navbar-default .cancel-icon,
  .navbar-default .search-icon{
    margin: 0 20px;
  }
  .navbar-default form{
    right: 30px;
  }
}
@media (max-width: 550px){

.itemsRow1, .itemsRow2, .background-image-opacitor2{
  width: 260px;
  height: 156px;
  transition: 400ms ease;
  margin: 12px;
  border-radius: 6px;
  overflow: hidden;-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
border-radius: 10px;
}

.chooseLangRow{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;  
  justify-content: center;
  overflow: hidden;-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
  .navbar-default .nav-items{
    height: 20%;
  }
  }
@media (max-width: 350px){

  .navbar-default .nav-items{
    height: 18%;
  }

  .navbar-default .menu-icon,
  .navbar-default .cancel-icon,
  .navbar-default .search-icon{
    margin: 0 0.7320644216691069vw;
    font-size: 16px;
  }
 
}
